@import "tailwindcss";

@theme {
  --color-background-0: #000;
  --color-background-1: #111;
  --color-background-2: #222;

  --color-primary: #3b82f6;

  --color-navbar: #092442;
  --color-celeste: #066BE0;
  --color-naraja: #E9883D;
}


button {
    @apply cursor-pointer;
}